services:
  vtms-client:
    image: {{ registry }}/vtms:latest
    container_name: vtms-client
    restart: always
    privileged: true
    network_mode: host
    volumes:
      - /dev:/dev
      - vtms-data:/app/data
    environment:
      - MQTT_SERVER={{ mqtt_server }}
      - MQTT_PORT={{ mqtt_port }}
    labels:
      - "com.centurylinklabs.watchtower.enable=true"

  vtms-ota:
    image: {{ registry }}/vtms-ota:latest
    container_name: vtms-ota
    restart: always
    network_mode: host
    environment:
      - MQTT_BROKER={{ mqtt_server }}
      - MQTT_PORT={{ mqtt_port }}
      - HTTP_PORT=8266
    labels:
      - "com.centurylinklabs.watchtower.enable=true"

  watchtower:
    image: containrrr/watchtower:latest
    container_name: watchtower
    restart: always
    environment:
      - DOCKER_API_VERSION=1.45
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: --interval 120 --cleanup
    labels:
      - "com.centurylinklabs.watchtower.enable=false"

volumes:
  vtms-data:
