services:
  vtms-web:
    image: {{ registry }}/vtms-web:latest
    container_name: vtms-web
    restart: always
    network_mode: host
    volumes:
      - vtms-web-data:/app/server/data
    environment:
      - PORT=3001
      - HOST=0.0.0.0
    labels:
      - "com.centurylinklabs.watchtower.enable=true"

  vtms-sdr:
    image: {{ registry }}/vtms-sdr:latest
    container_name: vtms-sdr
    restart: always
    privileged: true
    network_mode: host
    volumes:
      - /dev/bus/usb:/dev/bus/usb
      - vtms-sdr-data:/app/data
    command: ["record", "--freq", "462.5625M"]
    labels:
      - "com.centurylinklabs.watchtower.enable=true"

  watchtower:
    image: containrrr/watchtower:latest
    container_name: watchtower
    restart: always
    environment:
      - DOCKER_API_VERSION=1.45
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: --interval 120 --cleanup
    labels:
      - "com.centurylinklabs.watchtower.enable=false"

volumes:
  vtms-web-data:
  vtms-sdr-data:
