[Desktop Entry]
Type=Application
Name=VTMS Kiosk
Exec=chromium-browser --kiosk --noerrdialogs --disable-infobars --no-first-run --disable-session-crashed-bubble --disable-component-update {{ kiosk_url }}
Hidden=false
X-GNOME-Autostart-enabled=true
